.Align {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: -6rem;
  position: relative;
  z-index: 999;
}

.Container {
  display: flex;
  justify-content: center;
}

.Box {
  background-color: #fff;
  width: 45rem;
  height: 24rem;
  border-radius: 15px;
  opacity : 0.7;
  position: absolute;
  z-index: -99;
}