.Mgt {
  margin-top: 110px;
}
/* .Mgt {
  margin-top: 140px;
} */

.Label {
  display: inline-block;
  width: 100px;
}

.LoginLabel {
  display: inline-block;
  width: 60px;
}

.InputBox {
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #d9d9d9;
  background-color: #d9d9d9;
  margin-right: 30px;
  padding-left: 10px;
}
.InputBox::placeholder {
  text-align: center;
}

.Mgb {
  margin-bottom: 10px;
}

.Mgb2 {
  margin-bottom: 26px;
}

.Btn {
  width: 130px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid white;
  background-color: white;
}

.Btn:hover {
  background-color: #039cf3;
  cursor: pointer;
}

.BtnTop {
  margin-top: 20px;
}

.BtnAlign {
  display: flex;
  justify-content: center;
}

.checkBtn {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #D9D9D9;
  background-color: #D9D9D9;
  cursor: pointer;
}

.Container {
  display: flex;
  margin-bottom: 2vh;
}

.BeforeContainer {
  display: flex;
  margin-bottom: 4.5vh;
}

.SignupAlertText {
  margin-left: 50px;
  color: red;
}

.SignupBtn {
  width: 130px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid white;
  background-color: white;
  margin-left: -50px;
}

.SignupBtn:hover {
  background-color: #039cf3;
  cursor: pointer;
}