/* .Align {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: -6rem;
  position: relative;
  z-index: 999;
}

.Container {
  display: flex;
  justify-content: center;
}

.Box {
  background-color: #fff;
  width: 45rem;
  height: 24rem;
  border-radius: 15px;
  opacity : 0.7;
  position: absolute;
  z-index: -99;
}

.SignupBox {
  background-color: #fff;
  width: 800px;
  height: 540px;
  border-radius: 15px;
  opacity : 0.7;
  position: absolute;
  z-index: -99;
}

.ButtonContainer {
  position: absolute;
  z-index: 9999;
  width: 20vw;
  height: 20vh;
} */

.Container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ButtonContainer {
  position: absolute;
  z-index: 0;
  width: 100vw;
  height: 100vh;
}

.LoginContainer {
  position: relative;
  width: 800px;
  height: 540px;
  background-color: aqua;
}

.Logo {
  position: absolute;
  width: 453px;
  height: auto;
  top: -120px;
  left: 150px;
}

.LoginForm {
  width: 800px;
  height: 540px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
