.Btn {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  width: 10rem;
  height: 3rem;
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 3rem;
  margin-right: 3rem;
  cursor: pointer;
}

.Btn:hover {
  background-color: #0093f3;
  color: white;
  box-shadow: inset 0px -5px rgba(0, 0, 0, 0.1);
}

.Btn:active {
  box-shadow: inset 0px 5px rgba(0, 0, 0, 0.1);
}
