.Align {
  position: absolute;
  width: 700px;
  bottom: 0;
  z-index: 10;
}
.InputBox {
  width: 550px;
  height: 40px;
  color: white;
  border-radius: 10px;
  border: 1px solid rgb(78, 196, 238);
  background-color: rgb(78, 196, 238);
}

.InputBox::placeholder {
  text-align: center;
  color: white;
}

.Mgb {
  margin-bottom: 13px;
  display: flex;
  justify-content: space-between;
}

.Btn {
  width: 100px;
  height: 40px;
  color: white;
  border-radius: 10px;
  border: 1px solid rgb(78, 196, 238);
  background-color: rgb(78, 196, 238);
}