.timerContainer {
    position: relative;
    display: inline-block; /* 필요에 따라 조정 */
    bottom: 0;
  }
  
  .timerText {
    position: absolute;
    top: 0; /* 이미지 상단에 텍스트를 위치 */
    left: 50%; /* 컨테이너 중앙에 텍스트를 위치 */
    transform: translateX(-50%); /* 텍스트를 정확히 중앙에 위치시키기 위해 */
    color: white; /* 글씨 색상, 필요에 따라 조정 */
    /* 필요에 따라 추가 스타일링 */
  }
  
  .GameWordTimer {
    display: block;
    width: 100%; /* 이미지의 크기를 조정, 필요에 따라 변경 가능 */
    /* 필요에 따라 추가 스타일링 */
  }
  