.SpaceEvenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.Align {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ButtonAlign{
  display: flex;
  flex-direction: column;
  margin: 10px;
  bottom: 0;
}

.RightSide {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Avatars {
  position: absolute;
  top: 0;
}

.ElectricPole {
  height: 100vh;
  width: auto;
}

.Box {
  background-color: rgba(255, 255, 255, 0.7);
  width: 350px;
  height: 370px;
  border-radius: 15px;
  margin-bottom: 30px;
}

.GameWaitingLogo {
  width: 300px;
  margin: 10px;
}

.StatusIcon {
  width: auto;
  height: 20px;
}

.List {
  padding: 20px;
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: flex-start;
}

.RoomUsers {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}

.RoomMember {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.RoomMemberCount {
  display: flex; 
  justify-content: space-between;
  margin: 10px;
}

.Nickname {
  display: flex;
  align-items: center;
}

.CrownIcon {
  width: auto; /* 이미지 너비 */
  height: 20px; /* 이미지 높이 */
  margin-left: 5px; /* 닉네임과의 여백 */
}

.OkIcon{
  width: auto;
  height: 20px;
}
.MemberContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.MemberInfo {
  text-align: center;
}

.RoomName {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  width: 500px;
  height: 60px;
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 30px;
  z-index: 10;
}

.modalOpenBackground {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 15;
}