.Align {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-top: 4px;
  position: absolute;
}

.ButtonAlign{
  display: flex;
  flex-direction: column;
}

.Box {
  background-color: rgba(255, 255, 255, 0.7);
  width: 350px;
  height: 450px;
  border-radius: 15px;
}

.List {
  padding: 20px;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.RoomMembers {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.RoomMember {
  display: flex; 
  justify-content: space-between;
  align-items: center;
}

.RoomMemberCount {
  display: flex; 
  justify-content: space-between;
  margin: 10px;
}