.GameWaitingFrame {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 100vw;
  height: 100vh;
  z-index: -999;
}

.ElectricPole {
  position: absolute;
  height: 100vh;
  width: auto;
  right: 100px;
}

.Container {
  display: flex;
  justify-content: center;
}