.Align {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-top: 4px;
  position: absolute;
}

.ButtonAlign{
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.Box {
  background-color: rgba(255, 255, 255, 0.7);
  width: 350px;
  height: 450px;
  border-radius: 15px;
}