.GameWaitingFrame {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 100vw;
  height: 100vh;
  z-index: -999;
}

.Building {
  display: flex;
  justify-content: space-between;
  position: absolute;
  height: 70vh;
  width: 100vw;
  z-index: -500;
  bottom: 0;
}

.Container {
  display: flex;
  justify-content: space-between;
}