.FrameContainer {
  z-index: -9999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.FrameRelative {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.MainGuestFrame {
  height: 100vh;
  animation: moveRightM 25s linear infinite;
}

@keyframes moveRightM {
  100% {
    transform: translateX(calc(-2499.61 * (100vh / 833)));
  }
}

.FrameHomeWH {
  width: calc(100vw + 2671px - 1536px);
  height: calc(100vh + 1112px - 833px);
}

.FrameHome {
  position: absolute;
  left: calc(50% - 567.5px - 768px);
  top: 0px;
  transition: all 3000ms;
}
.FrameRanking {
  position: absolute;
  left: calc(50% - 567.5px - 768px);
  /* left: -567.5px; */
  top: -279px;
  transition: all 3000ms;
}
.FrameCustom {
  position: absolute;
  top: 0px;
  /* left: 0px; */
  left: calc(0px);
  transition: all 3000ms;
}
.FrameRoom {
  position: absolute;
  top: 0px;
  /* left: -1135px; */
  left: calc(50% - 567.5px - 567.5px - 768px);
  transition: all 3000ms;
}

.FrameHomeSky {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  animation: moveRight 60s linear infinite;
}

@keyframes moveRight {
  100% {
    transform: translate(calc(-4801.73 * (100vh / 833)));
  }
}

.Building {
  position: absolute;
  bottom: 0px;
}

.Building1 {
  left: 0;
}

.Building2 {
  right: 0;
}
