#outletContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#outlet {
  position: relative;
  width: 1519.2px;
  height: 833.6px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* background-color: aquamarine; */
}
