.TransitionsWrapper {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.TransitionContainer {
  position: absolute;
}

.TransitionRight-enter {
  transform: translateX(0%);
}
.TransitionRight-enter-active {
  transform: translateX(0%);
  transition: transform 500ms ease-out;
}
.TransitionRight-exit {
  z-index: 0;
  transform: translateX(0);
}
.TransitionRight-exit-active {
  transform: translateX(-100%);
  transition: transform 500ms;
}

.TransitionLeft-enter {
  z-index: 1;
  transform: translateX(-100%);
}
.TransitionLeft-enter-active {
  transform: translateX(0%);
  transition: transform 500ms ease-out;
}
.TransitionLeft-exit {
  z-index: 0;
  transform: translateX(0);
}
.TransitionLeft-exit-active {
  transform: translateX(100%);
  transition: transform 500ms;
}
