@font-face {
  font-family: 'PoorStory';
  src:
      /* url('@/assets/font/PoorStory-Regular.otf') format('opentype'), */ url('@/assets/font/PoorStory-Regular.woff')
    format('woff');
}
@font-face {
  font-family: 'neodgm';
  src:
      /* url('@/assets/font/PoorStory-Regular.otf') format('opentype'), */ url('@/assets/font/neodgm.woff')
    format('woff');
}
.Font32 {
  font-size: 32;
  font-family: 'PoorStory', sans-serif;
}
