@font-face {
  font-family: 'MapleStoryLight';
  src:
    url('@/assets/font/MaplestoryLight.ttf') format('truetype');
}

@font-face {
  font-family: 'MapleStoryBold';
  src:
    url('@/assets/font/MaplestoryBold.ttf') format('truetype');
}

.FontXXL {
  /* Head */
  /* 32pt */
  font-size: 2.667rem;
  font-family: 'MapleStoryBold',sans-serif;
}
