.Avatar {
  position: relative;
  background-color: magenta;
  display: flex;
  justify-content: start;
  align-items: center;
}

.Nest {
  position: absolute;
  height: auto;
  bottom: 0px;
}
.OutfitContainer {
  position: relative;
}
.AvatarOutfit {
  position: absolute;
  top: 0;
  left: 0;
}

.NameTag {
  position: absolute;
  z-index: 99;
  top: 66%;
  font-family: 'MapleStoryLight', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AvatarEyes {
  position: absolute;
  bottom: 47%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* animation: EyeMove 1s linear infinite; */
}

.AvatarBody {
  position: absolute;
  bottom: 6.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes EyeMove {
  0% {
    transform: translateY(+5%);
  }
  /* 50% {
    transform: translateY(+5%);
  } */
  80% {
    transform: translateY(-25%);
  }
  100% {
    transform: translateY(+10%);
  }
}
