.ButtonContainer {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.RankingContainer {
  position: absolute;
  top: 10%;
  width: 100%;
  height: 80%;
  display: flex;
}

.AvatarContainer {
  position: relative;
  width: 400px;
  height: 600px;
  /* background-color: blue; */
}

.ListContainer {
  width: 60vw;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.ListWH {
  background-color: brown;
  height: 55vh;
  width: 40vw;
  overflow: auto;
}

.RankingItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
}

.RankingTitle {
  position: absolute;
  top: 0px;
  height: 100%;
  left: 0;
}
