.Container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -99;
}
.FrameHome {
  position: absolute;
  left: -567.5px;
  width: calc(100vw + 2671px - 1536px);
  height: calc(100vh + 1112px - 833px);
}

.FrameHomeSky {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  animation: moveRight 25s linear infinite;
}

@keyframes moveRight {
  100% {
    transform: translate(calc(-4801.73 * (100vh / 833)));
  }
}

.ButtonContainer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 999;
}

.AvatarContainer {
  position: absolute;
  bottom: 344px;
  left: calc(50% - 200px);
}

.FrameContainer {
  z-index: -999;
}

.ButtonArrow {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(238, 238, 238, 0.5);
  border-radius: 60px;
  padding: 20px;
  position: absolute;
  cursor: pointer;
}

.ButtonArrowUp {
  width: 180px;
  flex-direction: column;
  left: calc(50% - 110px);
  top: 3vh;
}
.ButtonArrowDown {
  width: 180px;
  flex-direction: column-reverse;
  left: calc(50% - 110px);
  bottom: 3vh;
}
.ButtonArrowLeft {
  height: 80px;
  flex-direction: row;
  left: 3vw;
  top: calc(50% - 50px);
}
.ButtonArrowRight {
  height: 80px;
  flex-direction: row-reverse;
  right: 3vw;
  top: calc(50% - 50px);
}
.ButtonArrowBack {
  height: 50px;
  flex-direction: row;
  left: 3vw;
  top: 3vh;
}