.Container {
  margin-top: 20px;
}

.Row {
  display: flex;
  height: 60px;
}

.RoomNameLabel {
  display: inline-block;
  width: 200px;
}

.Input {
  border: 2px solid black;
  border-radius: 5px;
  width: 200px;
  height: 25px;
}

.XCircle {
  position: absolute;
  cursor: pointer;
  right: 20px;
}
.XCircle:hover {
  color: red;
}

.BtnContainer {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  gap: 100px;
}

.Btn {
  width: 100px;
  height: 40px;
  border: none;
  background-color: #D9D9D9;
  border-radius: 10px;
  cursor: pointer;
}

.Btn:hover {
  background-color: red;
}

.RoomMode {
  display: flex;
  height: 60px;
}

.MakeBtn {
  width: 150px;
  height: 70px;
  background-color: #FFD80F;
  border: none;
  border-radius: 15px;
}
.MakeBtn:hover {
  cursor: pointer;
}