.Container {
  margin-left: 300px;
  padding-top: 40px;
}

.ButtonContainer {
  display: flex;
}

.OneButton {
  margin-right: 30px;
}

.Background {
  position: absolute;
  z-index: -9;
  width: 1100px;
  height: 530px;
  background-color: #D9D9D9;
  opacity: 50%;
  margin-top: 10px;
}

.BackContainer {
  padding: 20px 40px;
}

.FirstRow {
  display: flex;
}

.RightSpace {
  width: 500px;
}