.Input {
  border: 2px solid black;
  border-radius: 5px;
  width: 200px;
  height: 25px;
}

.Dir {
  /* margin-top: 10px; */
  cursor: pointer;
}

.MaxCount {
  display: inline-block;
  flex-direction: row;
  margin-top: ;
}