.Container {
  margin-top: 20px;
}

.Row {
  height: 60px;
}

.RoomNameLabel {
  display: inline-block;
  width: 200px;
}

.Input {
  border: 2px solid black;
  border-radius: 5px;
  width: 200px;
  height: 25px;
}

.XCircle {
  position: absolute;
  cursor: pointer;
  right: 20px;
}